@import "@/style/common.scss";

.c-home {
  .ava {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  }

  .ava_wr {
    @include phone {
      overflow: hidden;
      height: 0;
      border-radius: 9999px;
      padding-bottom: 75%;
      width: 75%;
      margin: auto;
    }
  }

  .main {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding-top: 20px;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-left: 20px;
      margin-right: 20px;
    }

    @include phone {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  .left {
    min-width: 320px;
    text-align: center;
  }

  .right {
    min-width: 320px;
    text-align: center;
  }

  .card {
    border-radius: 10px;
    background: var(--panel-background-color);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }

  .card:not(:first-child) {
    margin-top: 20px;
  }

  .contact:not(:first-child) {
    margin-top: 10px;
  }

  .bio {
    .clickable {
      cursor: pointer;
      color: #00c3ff;
    }

    .external:after {
      display: inline-block;
      content: '';
      background: url("@public/img/icons/external-link.svg") center / contain no-repeat;
      vertical-align: middle;
      width: .7em;
      height: .7em;
      opacity: 0.6;
      margin-left: .2em;
    }
  }

  .bio:not(:first-child) {
    margin-top: 10px;
  }

  .card_title {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
    color: #777;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .interest {
    display: inline-block;
    margin: 5px;
  }

  .popup-image {
    max-width: 100%;
    max-height: 80vh;
  }

  .popup-image-title {
    text-align: center;
    margin: 0 25px 10px;
    font-size: 24px;
  }
}