.c-cookies-popup {
  z-index: 9999999;
  position: fixed;
  max-width: 300px;
  background: var(--panel-background-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  right: 0;
  bottom: 0;

  .message,
  .message * {
    font-size: 14px;
  }

  .buttons {
    margin-top: 10px;

    .button {
      margin-right: 10px;

      border: none;
      background: #009dff;
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      cursor: pointer;

      &:active {
        background: #24aaff;
      }
    }
  }
}