* {
  box-sizing: border-box;
  color: var(--text-color);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

html, body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--global-background-color);

  &:has(.requires-no-scroll) {
    overflow: hidden;
  }
}

.container {
  max-width: 720px;
  margin: auto;
}

.grecaptcha-badge {
  visibility: hidden;
}

@font-face {
  font-family: impact;
  src: url("../../../public/font/impact.ttf");
}

$tablet-width: 768px;
$phone-width: 480px;

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}