body[data-theme="dark"] {
  --global-background-color: #131418;
  --link-color: #00c3ff;
  --panel-background-color: #1d202d;
  --text-color: #ffffff;
}

@mixin dark {
  body[data-theme="dark"] & {
    @content;
  }
}