.c-footer {
  margin: 50px 0;

  .footer-body {
    text-align: center;

    .link {
      font-size: 14px;
      margin: 0 10px;
    }

    .recaptcha-reference {
      font-size: 12px;
      opacity: 0.5;
      margin: 20px 10px;

      a {
        font-size: 12px;
        opacity: 0.5;
        color: blue;
      }
    }
  }
}